recursive-include acq4 *.py *.ui *.m README *.txt
recursive-include doc *.rst *.py *.svg *.png *.jpg
recursive-include doc/build/html *
recursive-include tools *
include doc/Makefile doc/make.bat README.txt LICENSE.txt

