Source: python-acq4
Maintainer: Luke Campagnola <luke.campagnola@gmail.com>
Section: python
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 8)

Package: python-acq4
Architecture: all
Homepage: http://www.acq4.org/
Depends: python (>= 2.7), python-support (>= 0.90), python-qt4, python-scipy, python-numpy, ${misc:Depends}
Suggests: python-opengl, python-qt4-gl
Description: ACQ4 is a python-based platform for experimental neurophysiology. 
 It includes support for standard electrophysiology, multiphoton imaging, 
 scanning laser photostimulation, and many other experimental techniques. ACQ4 
 is highly modular and extensible, allowing support to be added for new types of
 devices, techniques, user-interface modules, and analyses.
